html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font: caption;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: #ccc; /*border-radius:10px;*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

#dpic {
    margin-top: 30px;
}

#dpic ul {
    list-style: none;
    padding: 0;
    margin: 13px 10px;
    white-space: nowrap;
    line-height: 14px;
    border-bottom:0.1px dashed #000;
}

#dpic ul.hundred {
    height: 12px;
    margin: 0px 10px;
    border-bottom:0px none #000;
}

#dpic ul.unit {
    margin-top: 0px;
}

#dpic ul li {
    vertical-align: top;
    width: 21px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
}

#dpic ul .name {
    width: 100px;
    color: #df3b3b;
    font-size: 10px;
    text-align: left;
    font-weight: bold;
}

#dpic ul .u {
    width: 19px;
    height: 18px;
    border-left:0.05px dashed #000;
    border-right:0.05px dashed #000;
    border-bottom:0.1px dashed #000;
    border-top: 2px solid red;
}

#dpic ul .d {
    width: 19px;
    height: 18px;
    border-left:0.05px dashed #000;
    border-right:0.05px dashed #000;
    border-top:0.1px dashed #000;
    border-bottom: 2px solid red;
}

#dpic ul .ul {
    width: 17.5px;
    height: 18px;
    border-right:0.05px dashed #000;
    border-bottom:0.1px dashed #000;
    border-top: 2px solid red;
    border-left: 2px solid red;
}

#dpic ul .dl {
    width: 17.5px;
    height: 18px;
    border-right:0.05px dashed #000;
    border-top:0.1px dashed #000;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}

.history{
    width: 100px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    margin-top: 0;
}